a {
	color: #6699dd;
	outline: none;
	text-decoration: none;
}

a:hover {
	color: #88bbff;
	text-decoration: underline;
}

a#logo {
	display: block;
	left: 5%;
	opacity: 0;
	position: absolute;
	top: 5%;
	transition: opacity 0.2s;
}

a#logo.active {
	opacity: 0.3;
/*	-webkit-transform: rotateY(0deg); */
}

a#logo.active:hover {
	opacity: 0.8;
}

body {
	background-color: black;
	font-family: 'Lucida Grande', sans-serif;
	height: 100%;  /* yuk! */
	margin: 0;
	padding: 0;
}

div#container {
	height: 100%;
	margin: auto;
	position: absolute;
	width: 100%;
}

div#extras {
	height: 100%;
	opacity: 0;
	position: absolute;
	top: 0;
	transition: opacity 2s;
	width: 100%;
	z-index: 2;
}

div#extras.active {
	opacity: 1;
/*	-webkit-transform: rotateY(360deg); */
}

div#status {
	background: black;
	bottom: -1px; /* magic number :^\ */
	color: white;
	font-size: 0.8em;
	left: 0;
	line-height: 1.3em;
	min-height: 1.3em;
	opacity: 0;
	padding: 0.5em;
	position: absolute;
/*	-webkit-transform: rotateY(0deg); */
	transition: opacity 2s;
	width: calc(100% - 1em + 1px); /* magic number :^\ */
	z-index: 2;
}

div#status.active {
	opacity: 0.7;
}

div#videos {
	height: 100%;
	left: 0;
	/* to cope with stacking order (z-index) bug/problem after div#videos transform */
	pointer-events: none;
	position: relative;
	top: 0;
	transition: all 1s;
	z-index: -1;
}

div#videos.active {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
}

html {
	height: 100%; /* yuk! */
}

img#hangup {
	cursor: pointer;
	display: none;
	float: right;
	opacity: 0;
	position: absolute;
	right: 5%;
	top: 4%;
	transition: opacity 0.2s;
	width: 4em;
	z-index: 2;
}

/* class set in transitionToActive() */
img#hangup.active {
	display: block;
	opacity: 0.4;
/*	-webkit-transform: rotateY(0deg); */
}

img#hangup.active:hover {
	opacity: 1;
}

a#logo img {
	width: 3em;
}

video#localVideo {
	display: block;
	max-height: 100%;
	opacity: 0;
	position: absolute;
	-webkit-transform: scale(-1, 1);
	transition: opacity 2s;
	width: 100%;
	z-index: -1;
}

video#localVideo.active {
	opacity: 1;
}

video#miniVideo {
	bottom: 0px;
	left: 0px;
	max-height: 25%;
	max-width: 25%;
	opacity: 0;
	position: absolute;
	-webkit-transform: scale(-1, 1);
	transition: opacity 2s;
	z-index: 0;
}

video#miniVideo.active {
	opacity: 1;
}

video#remoteVideo {
	display: block;
	max-height: 100%;
	opacity: 0;
	position: absolute;
	-webkit-transform: rotateY(180deg);
	transition: opacity 2s;
	width: 100%;
	z-index: -1;
}

video#remoteVideo.active {
	opacity: 1;
}
